<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amonic</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body class="container">
    <ul>
        <li id = "user">
            User: {{user}}
        </li>

        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
    </ul>

    {% block content %}
    {% endblock %}
</body>
</html>

<script>
    import axios from "axios";
    while (true){
        setTimeout(1000*5);
        console.log(document.getElementById('user').textContent)
        axios.post('http://127.0.0.1:8000/user-session/', {"status": 1,"email":document.getElementById('user').textContent})
    }

</script>