<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amonic</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block style %}{% endblock style %}
</head>
<body class="container">
    <ul>
        <li id = "user">
            User: {{user}}
        </li>

        <!-- <li>
            <a href="{% url 'home' %}">Home</a>
        </li> -->
    </ul>

    {% block content %}
    {% endblock %}
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script>
    dac = document.getElementById('user').textContent
    setInterval(()=>{axios.get(`http://127.0.0.1:8000/user-session/${dac.slice(19)}`)} , 60000);
</script>

