{% extends 'base.html' %}
{% load static %}
{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/report_amonities.css' %}">{% endblock style %}

{% block content %}
    <div class="content">
            <h1 class="manage-flights__heading">Amenities report</h1>
            <hr size="2.5" color="black">
        <form action="{% url 'report_amonities' %}" method="post" style="padding-top: 8px;" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="input__container">
                        <div class="select__or__input__container">
                            <label for="flightID">Flight ID:</label>
                            <input type="text" id="flightID" name="flightID"/>

                            <label for="From">from:</label>
                            <input type="date" id="From" name="From"/>

                            <label for="to">to:</label>
                            <input type="date" id="To" name="To"/>
                            
                        <button id="MakeReportButton" style="margin-left: 8px;">Make Report</button>
                        </div>
                </div>
            <table class="manage-flights__table" border="1" style="margin-top: 15px;" id="tableOfUsersAdminPage">
                <thead>
                    <tr>
                        <th>Amenities</th>
                        {% for amenities_type in amenities_types %}
                            <th>{{amenities_type.0}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody  id="tbodyAmontiesTable">
                    <tr>
                        <td>{{cabin_types.0.0}}</td>
                        {% for point in statistics.0%}
                            <td>{{point}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{cabin_types.1.0}}</td>
                        {% for point in statistics.1%}
                            <td>{{point}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{cabin_types.2.0}}</td>
                        {% for point in statistics.2%}
                            <td>{{point}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


        </form>
    </div>


{% endblock %}