{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/search-flights.css' %}">{% endblock style %}


{% block content %}
    <div class="content">
        <h1 class="search-flights__heading">Search for flights</h1>
        
        <hr size="2.5" color="black">
        <form method="post" action="{% url 'search-flights' %}">
            <fieldset class="fieldset__filter">
                <legend>Search Parameters</legend>
                <div class="filter__container">
                    <div class="filter__container__object">
                        <select id="departure-airport-select" name='departure_airport'>
                            <option value="0" class="visual-none">From</option>
                            <option value="0" >From</option>
                            {% for airport in airports %}
                                    <option value="{{ airport.ID }}">{{ airport.IATACode }}</option>
                                </tr>
                            {% endfor %}
                        </select>

                        <select id="arrival-airport-select" name='arrival_airport'>
                            <option value="0" class="visual-none">To</option>
                            <option value="0" >To</option>
                            {% for airport in airports %}
                                    <option value="{{ airport.ID }}">{{ airport.IATACode }}</option>
                                </tr>
                            {% endfor %}
                        </select>


                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Cabin Type</p>

                            <select id="cabin-type-select" name='fly_class'>
                                <option value="1" class="visual-none">Economy</option>
                                <option value="1" >Economy</option>
                                <option value="1.3">Business</option>
                                <option value="1.755">First Class</option>
                            </select>
                        </div>
                    </div>


                    <div class="filter__container__object">
                        <div class="select__or__input__container">
                            <input type="radio" id="pathChoice1" name="path" value="email" />
                            <label for="pathChoice1">Return</label>

                            <input type="radio" id="pathChoice2" name="path" value="phone" />
                            <label for="pathChoice2">One way</label>
                        </div>

                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Outbound</p>
                            <input type="date" id="date-select" name="outbound">
                        </div>

                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Return</p>
                            <input type="date" id="date-return-select" name="return">
                        </div>

                        <button id="changeFlights">Apply</button>
                    </div>
                </div>
            </fieldset>



        <div class="search-flights__title">
            <h2 class="search-flights__heading">Outbound flight details:</h2>
            <div>
                <input type="checkbox" class="display_three_days_outbound_checkbox" name="display_three_days_outbound_checkbox" value="yes">
                <p>Display three days before and after</p>
            </div>
        </div>

                <table class="manage-flights__table" border="1" id="tableOfUsersAdminPage">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Flight number</th>
                            <th>Cabin Price</th>
                            <th>Number of stops</th>
                        </tr>
                    </thead>
                    <tbody  id="tbodyAdminTableUsers">
                        {% for path_outbound in paths_outbound %}
                                <tr>
                                    <th>
                                        {% for route in path_outbound.4 %}
                                            {{route}}
                                            {% if not forloop.last %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </th>
                                    <th>{{path_outbound.0}}</th>
                                    <th>{{path_outbound.1}}</th>
                                    <th>{{path_outbound.2}}</th>
                                    <th>{{path_outbound.3}}</th>
                                    <th>
                                        {% for route1 in path_outbound.6 %}
                                            {{route1}}
                                            {% if not forloop.last %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </th>
                                    <th>{{path_outbound.5}}</th>
                                    <th>{{ path_outbound.7 }}</th>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>



            <div class="search-flights__title">
                <h2 class="search-flights__heading">Return flight details:</h2>
                <div>
                    <input type="checkbox" class="display_three_days_return_checkbox" name="display_three_days_return_checkbox" value="yes">
                    <p>Display three days before and after</p>
                </div>
            </div>

                <table class="manage-flights__table" border="1" id="tableOfUsersAdminPage">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Flight number</th>
                            <th>Cabin Price</th>
                            <th>Number of stops</th>
                        </tr>
                    </thead>
                    <tbody  id="tbodyAdminTableUsers2">
                        {% for path_outbound in paths_return %}
                            <tr>
                                <th>
                                    {% for route in path_outbound.4 %}
                                        {{route}}
                                        {% if not forloop.last %}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                </th>
                                <th>{{path_outbound.1}}</th>
                                <th>{{path_outbound.0}}</th>
                                <th>{{path_outbound.2}}</th>
                                <th>{{path_outbound.3}}</th>
                                <th>
                                    {% for route1 in path_outbound.6 %}
                                        {{route1}}
                                        {% if not forloop.last %}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                </th>
                                <th>{{path_outbound.5}}</th>
                                <th>{{ path_outbound.7 }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
        </form>

    </div>
    
    


    <script>
        function applyFilters() {
            var departureAirport = document.getElementById('departure-airport-select').value;
            var arrivalAirport = document.getElementById('arrival-airport-select').value;
            var cabinType = document.getElementById('cabin-type-select').value;
            
            // переменная для радиокнопки еще

            var dateSelect = document.getElementById('date-select').value;
            var dateReturnSelect = document.getElementById('date-return-select').value;

    
            var queryParams = [];
    
            if (departureAirport) {
                queryParams.push('departure=' + departureAirport);
            }
    
            if (arrivalAirport) {
                queryParams.push('arrival=' + arrivalAirport);
            }

            
            if (cabinType) {
                queryParams.push('cabin=' + cabinType);
            }

            if (dateSelect) {
                queryParams.push('date=' + dateSelect);
            }

            if (dateReturnSelect) {
                queryParams.push('datereturn=' + dateReturnSelect);
            }


    
            var queryString = queryParams.join('&');
            var newURL = window.location.pathname + '?' + queryString;
    
            window.location.href = newURL;
        }

        document.getElementById('changeFlights').addEventListener('click', applyFilters);

    </script>

    
{% endblock %}