{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/search-flights.css' %}">{% endblock style %}


{% block content %}
    <div class="content">
        <h1 class="search-flights__heading">Search for flights</h1>
        
        <hr size="2.5" color="black">
        <form method="post" action="{% url 'search-flights' %}">
            <fieldset class="fieldset__filter">
                <legend>Search Parameters</legend>
                <div class="filter__container">
                    <div class="filter__container__object">
                        <select id="departure-airport-select" name='departure_airport'>
                            <option value="0" class="visual-none">From</option>
                            <option value="0" >From</option>
                            {% for airport in airports %}
                                    <option value="{{ airport.ID }}">{{ airport.IATACode }}</option>
                                </tr>
                            {% endfor %}
                        </select>

                        <select id="arrival-airport-select" name='arrival_airport'>
                            <option value="0" class="visual-none">To</option>
                            <option value="0" >To</option>
                            {% for airport in airports %}
                                    <option value="{{ airport.ID }}">{{ airport.IATACode }}</option>
                                </tr>
                            {% endfor %}
                        </select>


                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Cabin Type</p>

                            <select id="cabin-type-select" name='fly_class'>
                                <option value="1" class="visual-none">Economy</option>
                                <option value="1" >Economy</option>
                                <option value="1.3">Business</option>
                                <option value="1.755">First Class</option>
                            </select>
                        </div>
                    </div>


                    <div class="filter__container__object">
                        <div class="select__or__input__container">
                            <input type="radio" id="pathChoice1" name="path" value="email" />
                            <label for="pathChoice1">Return</label>

                            <input type="radio" id="pathChoice2" name="path" value="phone" />
                            <label for="pathChoice2">One way</label>
                        </div>

                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Outbound</p>
                            <input type="date" id="date-select" name="outbound">
                        </div>

                        <div class="select__or__input__container">
                            <p class="text__without__padding_margin">Return</p>
                            <input type="date" id="date-return-select" name="return">
                        </div>

                        <button id="changeFlights">Apply</button>
                    </div>
                </div>
            </fieldset>



        <div class="search-flights__title">
            <h2 class="search-flights__heading">Outbound flight details:</h2>
            <div>
                <input type="checkbox" class="display_three_days_outbound_checkbox" name="display_three_days_outbound_checkbox" value="yes">
                <p>Display three days before and after</p>
            </div>
        </div>

                <table class="manage-flights__table" border="1" id="tableOfUsersAdminPage">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Flight number</th>
                            <th>Cabin Price</th>
                            <th>Number of stops</th>
                        </tr>
                    </thead>
                    <tbody  id="tbodyAdminTableUsers">
                        {% for path_outbound in paths_outbound %}
                                <tr>
                                    <th>
                                        <p onclick="setOutbound(event)" id={{forloop.counter}}>
                                            {% for route in path_outbound.4 %}
                                                {{route}}
                                                {% if not forloop.last %}
                                                    -
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </th>
                                    <th>{{path_outbound.0}}</th>
                                    <th>{{path_outbound.1}}</th>
                                    <th>{{path_outbound.2}}</th>
                                    <th>{{path_outbound.3}}</th>
                                    <th>
                                        {% for route1 in path_outbound.6 %}
                                            {{route1}}
                                            {% if not forloop.last %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </th>
                                    <th>{{path_outbound.5}}</th>
                                    <th>{{ path_outbound.7 }}</th>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>



            <div class="search-flights__title">
                <h2 class="search-flights__heading">Return flight details:</h2>
                <div>
                    <input type="checkbox" class="display_three_days_return_checkbox" name="display_three_days_return_checkbox" value="yes">
                    <p>Display three days before and after</p>
                </div>
            </div>

                <table class="manage-flights__table" border="1" id="tableOfUsersAdminPage">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Flight number</th>
                            <th>Cabin Price</th>
                            <th>Number of stops</th>
                        </tr>
                    </thead>
                    <tbody  id="tbodyAdminTableUsers2">
                        {% for path_outbound in paths_return %}
                            <tr>
                                <th>
                                    <p onclick="setReturn(event)" id={{forloop.counter}}>
                                        {% for route in path_outbound.4 %}
                                            {{route}}{% if not forloop.last %}-{% endif %}
                                        {% endfor %}
                                    </p>
                                </th>
                                <th>{{path_outbound.1}}</th>
                                <th>{{path_outbound.0}}</th>
                                <th>{{path_outbound.2}}</th>
                                <th>{{path_outbound.3}}</th>
                                <th>
                                    {% for route1 in path_outbound.6 %}
                                        {{route1}}
                                        {% if not forloop.last %}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                </th>
                                <th>{{path_outbound.5}}</th>
                                <th>{{ path_outbound.7 }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
        </form>
        <form method="post" action="{% url 'book_redirect' %}">
            <input type="text" class="" name="depart" value="" id="depart_redirect">
            <p>Маршрут отправления</p>
            {% if paths_return %}
                <input type="text" class="" name="return" value="" id="return_redirect">
                <p>Display three days before and after</p>
            {% endif %}
            {% if fly_class %}
                <input type="text" class="visual-none" name="fly_class" value={{fly_class}}>
            {% endif %}
            <button id="bookFlights">Apply</button>
        </form>
    </div>
    
    


    <script>
        function applyFilters() {
            var departureAirport = document.getElementById('departure-airport-select').value;
            var arrivalAirport = document.getElementById('arrival-airport-select').value;
            var cabinType = document.getElementById('cabin-type-select').value;
            
            // переменная для радиокнопки еще

            var dateSelect = document.getElementById('date-select').value;
            var dateReturnSelect = document.getElementById('date-return-select').value;

    
            var queryParams = [];
    
            if (departureAirport) {
                queryParams.push('departure=' + departureAirport);
            }
    
            if (arrivalAirport) {
                queryParams.push('arrival=' + arrivalAirport);
            }

            
            if (cabinType) {
                queryParams.push('cabin=' + cabinType);
            }

            if (dateSelect) {
                queryParams.push('date=' + dateSelect);
            }

            if (dateReturnSelect) {
                queryParams.push('datereturn=' + dateReturnSelect);
            }


    
            var queryString = queryParams.join('&');
            var newURL = window.location.pathname + '?' + queryString;
    
            window.location.href = newURL;
        }

        document.getElementById('changeFlights').addEventListener('click', applyFilters);

        function setOutbound(event){
            document.getElementById('depart_redirect').value = event.target.textContent.split(' ').filter(item => item!='' && item!='\n').map(item => parseInt(item.trim(), 10)).filter(item => !isNaN(item))
        }

        function setReturn(event){
            document.getElementById('return_redirect').value = event.target.textContent.split(' ').filter(item => item!='' && item!='\n').map(item => parseInt(item.trim(), 10)).filter(item => !isNaN(item))
        }

    </script>

    
{% endblock %}

<!-- {% extends 'base.html' %}

{% load static %}
{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/search-flights.css' %}">{% endblock style %}

{% block content %}

        <form method="post" action="{% url 'book_confirmation' %}">
            <fieldset class="fieldset__outbound">
                <legend>Outbound flight details</legend>
                <div class="Outbound__container">
                    {% for departWay in departWays%}
                    <div class="Outbound__container__object">
                        <div style="display: inline-block;">From: {{departWay.8.0}}</div>
                        <div style="display: inline-block;">To: {{departWay.9.0}}</div>
                        <div style="display: inline-block;">Cabin Type: {{fly_class}}</div>
                        <div style="display: inline-block;">Date: {{departWay.1}}</div>
                        <div style="display: inline-block;">Flight number: {{departWay.7}}</div>
                        <div class="visual-none">ID: {{departWay.0}}</div>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="fieldset__return">
                {% if returnWays %}
                    <legend>Return flight details</legend>
                    {% for returnWay in returnWays%}
                    <div class="Outbound__container__object">
                        <div style="display: inline-block;">From: {{returnWay.8.0}}</div>
                        <div style="display: inline-block;">To: {{returnWay.9.0}}</div>
                        <div style="display: inline-block;">Cabin Type: {{fly_class}}</div>
                        <div style="display: inline-block;">Date: {{returnWay.1}}</div>
                        <div style="display: inline-block;">Flight number: {{returnWay.7}}</div>
                        <div class="visual-none">ID: {{returnWay.0}}</div>
                    </div>
                    {% endfor %}
                {% endif %}
            </fieldset>

        </form>
        <fieldset class="fieldset__filter">
                <legend>Passenger details</legend>
                <div class="filter__container">
                        <div class="select__or__input__container">
                            <label for="Name">Firstname</label>
                            <input type="text" id="firstname"/>

                            <label for="Lastname">Lastname</label>
                            <input type="text" id="lastname"/>

                            <label for="birthdate">Birthdate</label>
                            <input type="date" id="date-select"/>

                        </div>

                    <div class="">
                        <div class="select__or__input__container">
                            <label for="passportNumber">Passport number</label>
                            <input type="text" id="passportNumber"/>

                            <label for="Lastname">Passport country</label>
                            <select id="cabin-type-select" name='fly_class'>
                                <option value="1" class="visual-none">Economy</option>
                                <option value="1" >Economy</option>
                                <option value="1.3">Business</option>
                                <option value="1.755">First Class</option>
                            </select>

                            <label for="telephone">Phone</label>
                            <input type="tel" id="telephone-number"/>

                        </div>

                        <button id="changeFlights" onclick="add_user(event)">Add passenger</button>
                    </div>
                </div>
        </fieldset>
    <p>Passengers list</p>
     <table class="manage-flights__table" border="1" id="tableOfUsersAdminPage">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>LastName</th>
                            <th>Birthdate</th>
                            <th>Passport number</th>
                            <th>Passport Country</th>
                            <th>Phone</th>

                        </tr>
                    </thead>
                    <tbody  id="tbodyAdminTableUsers2">
                        
                    </tbody>
               </table>

            <template id="template">
                <tr>
                    <th class="template_th">#</th>
                    <th class="template_th">#</th>
                    <th class="template_th">#</th>
                    <th class="template_th">#</th>
                    <th class="template_th">#</th>
                    <th class="template_th">#</th>
                </tr>
            </template>
            <button id="deleteUser" onclick="delete_user(event)">Delete passenger</button>
            <form action="">
                <!-- невидимая форма тут для 3.5 -->
                <!-- <button>Confim booking</button>
            </form>
            
        </form>
    <script>
        // добавить логику для невидимой формы и перехода на 3.5
        counter = 0
        function add_user(event){

            var firstname = document.getElementById('firstname').value;
            var lastname = document.getElementById('lastname').value;
            var dateSelect = document.getElementById('date-select').value;
            var passportNumber = document.getElementById('passportNumber').value;
            var text =  document.getElementById('cabin-type-select').options[document.getElementById('cabin-type-select').selectedIndex].text;
            var telephoneNumber = document.getElementById('telephone-number').value;

            var template = document.getElementById('template');
            var newRow = template.content.cloneNode(true);

            var thElements = newRow.querySelectorAll('.template_th');

            thElements[0].textContent = firstname;
            thElements[1].textContent = lastname;
            thElements[2].textContent = dateSelect;
            thElements[3].textContent = passportNumber;
            thElements[4].textContent = text;
            thElements[5].textContent = telephoneNumber;

            document.getElementById('firstname').value = "";
            document.getElementById('lastname').value = "";
            document.getElementById('date-select').value = "";
            document.getElementById('passportNumber').value = "";
            document.getElementById('cabin-type-select').selectedIndex = 1;
            document.getElementById('telephone-number').value = "";


            var table = document.getElementById('tableOfUsersAdminPage');

            table.appendChild(newRow);
        }
        
        function delete_user(event){
            var table = document.getElementById('tableOfUsersAdminPage');
            var thElements = table.querySelectorAll('tr');
            if (thElements.length != 1){
                table.removeChild(table.lastChild);
            }
        }
    </script> 
{% endblock %}
--> 